﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


.center_div
{
    margin-top:15%;
}


#myOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
}

#myOverlay {
    background: black;
    opacity: .2;
    z-index: 2;
}

#loadingGIF {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 3;
}

.errormessage {
    color: #EF5350;
}