﻿<ng-form name="projectform">
    <div class="form-group" ng-class="{'has-error': projectform.inputemail.$invalid == true, 'has-success' : nonexist}">
        <label>Email</label>
        <div class="input-group margin">
            <input type="text" class="form-control" name="inputemail" ng-model="inputemail"
                   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                   ng-disabled="nonexist">
            <span class="input-group-btn">
                <input type="button" class="btn" ng-class="{'btn-primary': nonexist == false , 'btn-success' : nonexist }"
                       value="{{emailtext}}" ng-click="checkEmail(inputemail)" ng-disabled="!projectform.inputemail.$valid || !inputemail.length">
            </span>
        </div>
        <span class="help-block" ng-show="projectform.inputemail.$invalid">Email add is invalid</span>
        <span class="help-block success" ng-show="nonexist">Email add is valid</span>
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact No</th>
                <th>Email</th>
                <th style="width: 10%">Action</th>
            </tr>
            <tr ng-repeat="user in userlist">
                <td>{{user.FirstName}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.ContactNo}}</td>
                <td>{{user.Email}}</td>
                <td>                    
                    <input type="button" class="btn btn-danger" value="remove" ng-click="unassignUser($index)" />
                </td>
            </tr>
        </tbody>
    </table>
</ng-form>

