﻿<ng-form name="qouteinviteform">
    <div class="form-group">
        <input ng-model="searchPrinter.$" class="form-control" id="exampleInputEmail1" placeholder="Search Printer...">
    </div>
    <div class="form-group">
        <textarea ng-model="quoteMessage" ng-init="quoteMessage = ''" class="form-control" rows="3" placeholder="Message Here" ng-change="validateSend()"></textarea>
    </div>

    <div class="form-group form-inline">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" checked ng-click="filterUserList('All')">
                All
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" ng-click="filterUserList('Unsent')">
                Un-sent
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" ng-click="filterUserList('Sent')">
                Sent
            </label>
        </div>
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact No</th>
                <th>Email</th>
                <th style="width: 10%">Action</th>
            </tr>
            <tr ng-repeat="user in userlist | filter:searchPrinter">
                <td>{{user.FirstName}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.ContactNo}}</td>
                <td>{{user.Email}}</td>
                <td>
                    <div ng-if="user.InviteId != NULL">
                        SENT
                    </div>
                    <div ng-if="user.InviteId == NULL" class="checkbox" ng-click="checkboxClick($event, user.UserId, $index)">
                        <label>
                            <input type="checkbox" ng-model="user.Void">
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-form>

